@model TamsPizzeriaWebApp.Models.EmployeeViewModels.OrderHistoryUpdateViewModel

<h2>Order Confirmation #@Model.ConfirmationNumber</h2>
<h2>Customer: @Model.CustomerFirstName @Model.CustomerLastName</h2>

<div class="col-md-12">
    <form method="post" asp-action="UpdateOrder" asp-route-id="@Model.ConfirmationNumber">
        <div class="col-md-6">
            <h4 class="bold">Current Order</h4>
            <table class="table table-responsive">
                <tr>
                    <td>Order Status</td>
                    <td>@Model.Status</td>
                </tr>
                <tr>
                    <td>Pizza Size:</td>
                    <td>@Model.PizzaSize</td>
                </tr>
                <tr>
                    <td>Pizza Crust:</td>
                    <td>@Model.PizzaCrust</td>
                </tr>
                <tr>
                    <td>Pizza Topping 1:</td>
                    <td>@Model.PizzaTopping1</td>
                </tr>
                <tr>
                    <td>Pizza Topping 2:</td>
                    <td>@Model.PizzaTopping2</td>
                </tr>
                <tr>
                    <td>Pizza Topping 3:</td>
                    <td>@Model.PizzaTopping3</td>
                </tr>
                <tr>
                    <td>Pizza Quantity:</td>
                    <td>@Model.PizzaQuantity</td>
                </tr>
                <tr>
                    <td>Sub Total:</td>
                    <td>$@Model.SubTotal</td>
                </tr>
                <tr>
                    <td>Final:</td>
                    <td>$@Model.Total</td>
                </tr>
                <tr>
                    @if (ViewBag.IsAdmin == "Yes")
                    {
                        <td>
                            <input type="submit" class="btn orderButton" value="Delete Record" name="delete" onclick="return confirm('Warning: The record of this order will be completely destroyed in the database. Confirm?')" />
                        </td>
                        <td>
                            <a class="btn orderButton" asp-action="History">Order History</a>
                        </td>
                    }
                    else
                    {
                        <td>
                            <a class="btn orderButton" asp-action="History">Order Histroy</a>
                        </td>
                        <td></td>
                    }
                </tr>
            </table>
        </div>
        <div class="col-md-6">
            <h4 class="bold">Update Order</h4>
            <table class="table table-responsive">
                <tr>
                    <td>Order Status</td>
                    <td><select asp-for="@Model.Status" asp-items="@Model.Statuses" class="form form-control"></select></td>
                </tr>
                @if (Model.Status == "Order Received")
                {
                    <tr>
                        <td>Pizza Size</td>
                        <td><select asp-for="@Model.PizzaSize" asp-items="@Model.Sizes" class="form form-control"></select></td>
                    </tr>
                    <tr>
                        <td>Pizza Crust</td>
                        <td><select asp-for="@Model.PizzaCrust" asp-items="@Model.Crusts" class="form form-control"></select></td>
                    </tr>
                    <tr>
                        <td>Topping 1:</td>
                        <td><select asp-for="@Model.PizzaTopping1" asp-items="@Model.Topping1" class="form form-control"></select></td>
                    </tr>
                    <tr>
                        <td>Topping 2:</td>
                        <td><select asp-for="@Model.PizzaTopping2" asp-items="@Model.Topping2" class="form form-control"></select></td>
                    </tr>
                    <tr>
                        <td>Topping 3:</td>
                        <td><select asp-for="@Model.PizzaTopping3" asp-items="@Model.Topping3" class="form form-control"></select></td>
                    </tr>
                    <tr>
                        <td>Quantity:</td>
                        <td><select asp-for="@Model.PizzaQuantity" asp-items="@Model.Quantities" class="form form-control"></select></td>
                    </tr>
                }
                else
                {
                    <tr hidden="hidden">
                        <td>Pizza Size</td>
                        <td><select asp-for="@Model.PizzaSize" asp-items="@Model.Sizes" class="form form-control"></select></td>
                    </tr>
                    <tr hidden="hidden">
                        <td>Pizza Crust</td>
                        <td><select asp-for="@Model.PizzaCrust" asp-items="@Model.Crusts" class="form form-control"></select></td>
                    </tr>
                    <tr hidden="hidden">
                        <td>Topping 1:</td>
                        <td><select asp-for="@Model.PizzaTopping1" asp-items="@Model.Topping1" class="form form-control"></select></td>
                    </tr>
                    <tr hidden="hidden">
                        <td>Topping 2:</td>
                        <td><select asp-for="@Model.PizzaTopping2" asp-items="@Model.Topping2" class="form form-control"></select></td>
                    </tr>
                    <tr hidden="hidden">
                        <td>Topping 3:</td>
                        <td><select asp-for="@Model.PizzaTopping3" asp-items="@Model.Topping3" class="form form-control"></select></td>
                    </tr>
                    <tr hidden="hidden">
                        <td>Quantity:</td>
                        <td><select asp-for="@Model.PizzaQuantity" asp-items="@Model.Quantities" class="form form-control"></select></td>
                    </tr>

                }
                <tr>
                    <td>
                        <a class="btn orderButton" asp-action="Details" asp-route-id="@Model.ConfirmationNumber">Details View</a>
                    </td>
                    <td>
                        <input type="submit" class="btn orderButton" value="Update" name="update" onclick="return confirm('Warning: Order will be updated! Confirm changes?')">
                    </td>
                </tr>
            </table>
            <br />
        </div>
    </form>
</div>

